h1 {
	font-size: 20;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 50px;
}

*{
	box-sizing: border-box;
}

#box {
	position: relative;
	background-color: gray;
	padding: 32px 25px 25px 25px;
	border: 1px solid black;
	float: left;
	border: 1px solid black;
	margin: 20px;
}

.smallbox {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: green;
	width: 100px;
	height: 30px;
	border: 1px solid black;
}

#firstb {
	background-color: green;
}

#secondb {
	background-color: red;
}

#thirdb {
	background-color: yellow;
}

#smalltitle{
	padding: 5px;
	text-align: center;
}

.row {
  width: 100%;
  padding: 0 15px;
}


@media (min-width: 992px) {
    .col-md-6, .col-md-12 {
        float: left;
    }
    .col-lg-4 {
        width: 33.33%;

    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .col-md-6, .col-md-12 {
        float: left;
    }
  
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-12 {
        width: 100%;
    }
}